n8n/n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const url = $input.all()[0].json.url;\n\nconst { exec } = require('child_process');\n\nreturn new Promise((resolve, reject) => {\n  exec(`python transcriber.py ${url}`, (error, stdout, stderr) => {\n    if (error) {\n      reject(error);\n    }\n    resolve(stdout);\n  });\n});"
      },
      "name": "Executar Transcrição",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Executar Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Transcrição": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
